
@import "~vue-material/dist/theme/engine"; // Import the theme engine


@import "./variables";

@include md-register-theme("default", (
  accent: $strat-yellow, // The primary color of your application
  primary: md-get-palette-color(black, 500) // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

.page {
  padding: 24px;
  text-align: left;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.stretchy {
  flex-shrink: 1;
  flex-grow: 1;
}

.stiff {
  flex-grow: 0;
  flex-shrink: 0;
}

.italic {
  font-style: italic;
}

.v-center {
  align-items: center;
}

.h-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.strat-fg {
  color: $strat-yellow;
}

.strat-bg {
  background-color: $strat-yellow;
}

.header {
  font-size: 20px;
}

@import 'font/style';
